* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}


/* NAV */

nav {
    position: sticky;
    top: 0;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    z-index: 100;
}

#nav_top {
    display: flex;
    justify-content: space-between;
}

nav form {
    margin-top: 1rem;
}

input {
    background-color: rgba(86, 85, 85, 0.823);
    border: none;
    height: 30%;
    padding: 10px;
}

nav ul {
    display: flex;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#nav_top li {
    list-style: none;
    border-right: solid 1px grey;
    text-align: center;
    font-size: 1rem;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    vertical-align: middle;
}

#nav_top li:last-child,
#nav_bottom li:last-child {
    border-right: none;
}

#nav_bottom {
    position: relative;
    top: -2rem;
}

#nav_bottom ul {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(90, 88, 88);
    padding: 5px;
}

#nav_bottom li {
    list-style: none;
    border-right: solid 1px rgb(240, 238, 238);
    text-align: center;
    font-size: .75rem;
    height: 25px;
    padding: 0 8px;
    line-height: 25px;
    vertical-align: middle;
}

@media only screen and (max-width: 1240px) {
    #nav_bottom ul {
        width: 85%;
    }
}

@media only screen and (max-width: 1168px) {
    nav #nav_bottom,
    nav ul {
        display: none;
    }
}


/* MAIN */

#main_conteiner {
    display: grid;
    gap: 20px;
    grid-template: repeat(4, 250px) / repeat(4, 250px);
}

#a {
    grid-area: 1 / 1 / 2 span / 2 span;
}

#d {
    grid-area: 2 / 3 / 1 span / 2 span;
}

#f {
    grid-area: 3 / 2 / 1 span / 2 span;
}

main,
footer {
    width: 90%;
    margin: 10px auto;
}

main {
    margin: 2.5em auto;
}

main .item {
    align-items: stretch;
}

main img {
    width: 100%;
    min-width: 250px;
    height: auto;
    overflow: hidden;
}

main p {
    background: rgba(255, 255, 255, 0.755);
    color: black;
    height: 40px;
    position: relative;
    top: -40px;
    font-size: .8rem;
}

main p:hover {
    background: rgba(255, 255, 255, 0.9);
}

button {
    margin: 30px auto;
    width: 100vw;
    display: block;
    background-color: #1855b9;
    padding: 10px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
}

button:hover {
    background-color: #587db8;
}


/* FOOTER */

footer p {
    font-size: .8rem;
}

footer ul {
    float: right;
    display: flex;
    margin: 20px 0px;
}

footer li {
    color: #3c6ebf;
    margin: 0px 20px;
    text-decoration: none;
    list-style: none;
    font-size: .8rem;
}

@media only screen and (max-width: 1000px) {
    footer ul {
        float: left;
        display: block;
    }
}